<table class="table table-bordered">
  <tbody>
    <tr>
      <td>8h00</td>
      <td rowspan="14">
        <em class="text-muted">You come to the awesome place we've chosen for this year's edition!</em>
      </td>
    </tr>
    <tr>
      <td>8h30</td>
    </tr>
    <tr>
      <td>9h00</td>
    </tr>
    <tr>
      <td>9h30</td>
    </tr>
    <tr>
      <td>10h00</td>
    </tr>
    <tr>
      <td>10h30</td>
    </tr>
    <tr>
      <td>11h00</td>
    </tr>
    <tr>
      <td>11h30</td>
    </tr>
    <tr>
      <td>12h00</td>
    </tr>
    <tr>
      <td>12h30</td>
    </tr>
    <tr>
      <td>13h00</td>
    </tr>
    <tr>
      <td>13h30</td>
    </tr>
    <tr>
      <td>14h00</td>
    </tr>
    <tr>
      <td>14h30</td>
    </tr>
    <tr>
      <td>15h00</td>
      <td rowspan="2">
        Welcome to Geeks on a Farm!
        <br/>
        <em class="text-muted">Welcome package distribution, room assignment, coffee+Schwartzwald, etc.</em>
      </td>
    </tr>
    <tr>
      <td>15h30</td>
    </tr>
    <tr>
      <td>16h00</td>
      <td>Welcome speech</td>
    </tr>
    <tr>
      <td>16h30</td>
      <td rowspan="2">
        <i class="fa fa-bullhorn"></i> The mindset required to bootstrap an exponential curve
        <br/>
        {% assign item = 'Yan-Erik Decorde' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>17h00</td>
    </tr>
    <tr>
      <td>17h30</td>
      <td rowspan="2">
        <i class="fa fa-bullhorn"></i> Startup community insights - Stuttgart and the region
        <br/>
        {% assign item = 'Kathleen Fritzsche' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>18h00</td>
    </tr>
    <tr>
      <td>18h30</td>
      <td rowspan="3">Pause</td>
    </tr>
    <tr>
      <td>19h00</td>
    </tr>
    <tr>
      <td>19h30</td>
    </tr>
    <tr>
      <td>20h00</td>
      <td rowspan="3"><i class="fa fa-cutlery"></i> BBQ</td>
    </tr>
    <tr>
      <td>20h30</td>
    </tr>
    <tr>
      <td>21h00</td>
    </tr>
    <tr>
      <td>21h30</td>
      <td></td>
    </tr>
    <tr>
      <td>22h00</td>
      <td rowspan="4">
        <i class="fa fa-briefcase"></i> Pitch Training
        <br/>
        {% assign item = 'Kathleen Fritzsche' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>22h30</td>
    </tr>
    <tr>
      <td>23h00</td>
    </tr>
    <tr>
      <td>00h00</td>
    </tr>
  </tbody>
</table>
