<table class="table table-bordered">
  <tbody>
    <tr>
      <td>8h00</td>
      <td  rowspan="4"><i class="fa fa-cutlery"></i> Breakfast</td>
    </tr>
    <tr>
      <td>8h30</td>
    </tr>
    <tr>
      <td>9h00</td>
    </tr>
    <tr>
      <td>9h30</td>
    </tr>
    <tr>
      <td>10h00</td>
      <td rowspan="4" >
        <i class="fa fa-briefcase"></i> The black art of cold emails
        <small>Everything you need to know about cold emails to get an avalanche of responses</small>
        {% assign item = 'Jeremy Chatelaine' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>10h30</td>
    </tr>
    <tr>
      <td>11h00</td>
    </tr>
    <tr>
      <td>11h30</td>
    </tr>
    <tr>
      <td>12h00</td>
      <td rowspan="4" ><i class="fa fa-cutlery"></i> Lunch</td>
    </tr>
    <tr>
      <td>12h30</td>
    </tr>
    <tr>
      <td>13h00</td>
    </tr>
    <tr>
      <td>13h30</td>
    </tr>
    <tr>
      <td>14h00</td>
      <td rowspan="4" >
        <i class="fa fa-briefcase"></i> How to create an high-converting website and double your sales
        <br/>
        {% assign item = 'Thibaut Vincent' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>14h30</td>
    </tr>
    <tr>
      <td>15h00</td>
    </tr>
    <tr>
      <td>15h30</td>
    </tr>
    <tr>
      <td>16h00</td>
      <td ><i class="fa fa-coffee"></i> Coffee break</td>
    </tr>
    <tr>
      <td>16h30</td>
      <td rowspan="2" >
        <i class="fa fa-briefcase"></i> How to pitch a VC
        <br/>
        {% assign item = 'Matthias Hornberger' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>17h00</td>
    </tr>
    <tr>
      <td>17h30</td>
      <td rowspan="2" >
        <i class="fa fa-briefcase"></i> How to pitch, bitch!
        <small>(includes pitch training)</small>
        {% assign item = 'Alexandre Winter' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>18h00</td>
    </tr>
    <tr>
      <td>18h30</td>
      <td rowspan="3" ><i class="fa fa-glass"></i> Wine tasting</td>
    </tr>
    <tr>
      <td>19h00</td>
    </tr>
    <tr>
      <td>19h30</td>
    </tr>
    <tr>
      <td>20h00</td>
      <td rowspan="3" ><i class="fa fa-cutlery"></i> BBQ</td>
    </tr>
    <tr>
      <td>20h30</td>
    </tr>
    <tr>
      <td>21h00</td>
    </tr>
    <tr>
      <td>21h30</td>
      <td ></td>
    </tr>
    <tr>
      <td>22h00</td>
      <td rowspan="4" >Night activities TBD</td>
    </tr>
    <tr>
      <td>22h30</td>
    </tr>
    <tr>
      <td>23h00</td>
    </tr>
    <tr>
      <td>00h00</td>
    </tr>
  </tbody>
</table>
