<table class="table table-bordered">
  <tbody>
    <tr>
      <td>8h00</td>
      <td  rowspan="4"><i class="fa fa-cutlery"></i> Breakfast</td>
    </tr>
    <tr>
      <td>8h30</td>
    </tr>
    <tr>
      <td>9h00</td>
    </tr>
    <tr>
      <td>9h30</td>
    </tr>
    <tr>
      <td>10h00</td>
      <td rowspan="4">
        <i class="fa fa-briefcase"></i> BarCamp
        <br/>
        <small>30 minutes sessions</small>
      </td>
    </tr>
    <tr>
      <td>10h30</td>
    </tr>
    <tr>
      <td>11h00</td>
    </tr>
    <tr>
      <td>11h30</td>
    </tr>
    <tr>
      <td>12h00</td>
      <td rowspan="4"><i class="fa fa-cutlery"></i> Lunch</td>
    </tr>
    <tr>
      <td>12h30</td>
    </tr>
    <tr>
      <td>13h00</td>
    </tr>
    <tr>
      <td>13h30</td>
    </tr>
    <tr>
      <td>14h00</td>
      <td rowspan="2">The End...</td>
    </tr>
    <tr>
      <td>14h30</td>
    </tr>
  </tbody>
</table>
