<table class="table table-bordered">
  <tbody>
    <tr>
      <td>8h00</td>
      <td  rowspan="4"><i class="fa fa-cutlery"></i> Breakfast</td>
    </tr>
    <tr>
      <td>8h30</td>
    </tr>
    <tr>
      <td>9h00</td>
    </tr>
    <tr>
      <td>9h30</td>
    </tr>
    <tr>
      <td>10h00</td>
      <td rowspan="2">
        <i class="fa fa-briefcase"></i> If you can make it there, you can make it anywhere'
        <small>How to start and grow your startup in the US</small>
        {% assign item = 'Alexandre Winter' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>10h30</td>
    </tr>
    <tr>
      <td>11h00</td>
      <td rowspan="2" >
        Outro
      </td>
    </tr>
    <tr>
      <td>11h30</td>
    </tr>
    <tr>
      <td>12h00</td>
      <td rowspan="4"><i class="fa fa-cutlery"></i> Lunch</td>
    </tr>
    <tr>
      <td>12h30</td>
    </tr>
    <tr>
      <td>13h00</td>
    </tr>
    <tr>
      <td>13h30</td>
    </tr>
    <tr>
      <td>14h00</td>
      <td rowspan="2">The End...</td>
    </tr>
    <tr>
      <td>14h30</td>
    </tr>
  </tbody>
</table>
