<section class="blog-post">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Blog</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="/img/img-blog.png" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="well">
          <span class="triangle"></span>
          {% for post in site.posts | limit:1 %}
            <ul class="list-unstyled">
              <li class="post-date">{{ post.date | date_to_string }}</li>
              <li class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></li>
              <li class="post-body">{{ post.excerpt | truncate:130 }}</li>
              <li class="text-right"><a href="{{ post.url }}" class="post-link">Read more »</a></li>
            </ul>
          {% endfor %}
          <a href="/blog" class="btn btn-transparent btn-lg">See all posts</a>
        </div>
      </div>
  </div>
</section>

<section class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Sponsors</h1>
      </div>
    </div>
    <div class="row text-center" style="margin-top:20px;">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li><a href="https://scalingo.com"><img src="/img/scalingo-logo.svg" style="height:40px;" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Team</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          {% for team_member in site.team_members %}
            <div class="col-xs-6 col-sm-3 speaker_hp">
              <div class="thumbnail">
                <img src="{{ site.baseurl }}/img/{{ team_member.nickname }}.jpg" alt="{{ team_member.name }}">
                <div class="caption">
                  <h5>{{ team_member.name }}</h5>
                  {% if team_member.twitter %}
                  <a href="{{ team_member.twitter }}"><i class="fa fa-twitter"></i></a>
                  {% endif %}
                  {% if team_member.linkedin %}
                  <a href="{{ team_member.linkedin }}"><i class="fa fa-linkedin"></i></a>
                  {% endif %}
                  {% if team_member.xing %}
                  <a href="{{ team_member.xing }}"><i class="fa fa-xing"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4" style="height:440px;">
        <h3><a href="https://twitter.com/geeksonafarm" target="_blank">Latest Tweets</a></h2>
        <a class="twitter-timeline"  href="https://twitter.com/geeksonafarm"  data-widget-id="451359998925230080">Tweets by @geeksonafarm</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3><a href="https://www.facebook.com/geeksonafarm" target="_blank">Follow us on Facebook</a></h3>
        <div class="fb-like-box" data-href="https://www.facebook.com/geeksonafarm" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Contact Us</h3>
        <strong class="brand">Geeks on a Farm</strong>
        <span class="produced-by">produced by</span>
        <a href="http://www.alsacedigitale.org"><img src="/img/ad-logo.png" alt="Alsace Digitale logo" style="height:60px;margin-top:10px;margin-bottom:10px;"/></a>
        <a href="http://www.strasbourg-startups.com"><img src="/img/strasbourg-startups-logo.svg" alt="Strasbourg Startups logo" style="height:60px;margin-top:5px;"/></a>
        <a href="http://www.lafrenchtech.com" style="width:100%;display:block;margin-top:10px;" ><img src="http://www.lafrenchtech.com/sites/all/themes/frenchtech/img/logo.png" /></a>
        <ul class="list-inline links">
          <li><a href="{{ site.baseurl }}/imprint.html">Imprint</a></li>
          <li><a href="http://2014.geeks-on-a-farm.com/">Last Edition (2014)</a></li>
        </ul>
    </div>
  </div>
</footer>
