<section class="blog-post">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Blog</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="/img/img-blog.png" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="well">
          {% for post in site.posts | limit:3 %}
            <ul class="list-unstyled">
              <li class="post-date">{{ post.date | date_to_string }}</li>
              <li class="post-title">{{ post.title }}</li>
              <li class="post-body">{{ post.excerpt | truncate:130 }}</li>
              <li class="text-right"><a href="{{ post.url }}" class="post-link">Read more »</a></li>
            </ul>
          {% endfor %}
          <a href="/blog" class="btn btn-transparent btn-lg">See all posts</a>
        </div>
      </div>
  </div>
</section>

<footer>
  <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" style="height:440px;">
      <h3><a href="https://twitter.com/geeksonafarm" target="_blank">Latest Tweets</a></h2>
      <a class="twitter-timeline"  href="https://twitter.com/geeksonafarm"  data-widget-id="451359998925230080">Tweets by @geeksonafarm</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3><a href="/blog/index.html">Last Blogpost</a></h2>
      <ul class="posts list-unstyled">
        {% for post in site.posts | limit:3 %}
          <li class="post">
            <h4>{{ post.title }}</h4>
            {{ post.excerpt | truncate:130 }}
            <ul class="list-inline links">
              <li>{{ post.date | date_to_string }}</li>
              <li>|</li>
              <li><a href="{{ post.url }}">read more</a></li>
            </ul>
          </li>
        {% endfor %}
      </ul>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3><a href="https://www.facebook.com/geeksonafarm" target="_blank">Follow us on Facebook</a></h2>
      <div class="fb-like-box" data-href="https://www.facebook.com/geeksonafarm" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr/>
    </div>
    <div class="col-xs-12 col-sm-4 text-left">
      <a style="margin-bottom:20px; margin-right:20px;" class="pull-left" href="http://www.lafrenchtech.com/actualites-du-numerique/festival-de-la-french-tech-4-27-juin"><img src="http://www.lafrenchtech.com/sites/all/themes/frenchtech/img/logo.png" /></a>
      <p class="pull-left">
        © Geeks on a Farm 2015
        <br/>
        <a href="mailto:contact@geeks-on-a-farm.com">contact@geeks-on-a-farm.com</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      Geeks on a Farm is an event produced by
      <br/>
      <a href="http://www.alsacedigitale.org"><img src="/img/ad-logo.png" alt="Alsace Digitale logo" style="height:60px;margin-top:10px;"/></a>
    </div>
    <div class="col-xs-12 col-sm-4 text-right">
      <ul class="list-inline social">
        <li><a href="https://www.facebook.com/geeksonafarm"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/geeksonafarm"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <br/>
      <ul class="list-inline">
        <li><a href="{{ site.baseurl }}/imprint.html">Imprint</a></li>
        <li><a href="http://2014.geeks-on-a-farm.com/">Last Edition (2014)</a></li>
      </ul>
    </div>
  </div>
</footer>
