<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Geeks on a Farm{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}Geeks on a Farm - {% if page.title %}{{ page.title }}{% endif %}{% endif %}"/>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% else if page.og_description %}
  <meta name="description" content="{{ page.og_description }}">
  {% else %}
  <meta name="description" content="Geeks on a Farm is a Startups Bootcamp for everyone who is passionate about entrepreneurships, startups, design and technology. We aim to “Bring Together Startupers from Germany and France” to network and to have a great time together.">
  {% endif %}

  {% if page.og_description %}
  <meta name="og:description" content="{{ page.og_description }}">
  {% else if page.description %}
  <meta name="og:description" content="{{ page.description }}">
  {% else %}
  <meta name="og:description" content="Geeks on a Farm is a Startups Bootcamp for everyone who is passionate about entrepreneurships, startups, design and technology. We aim to “Bring Together Startupers from Germany and France” to network and to have a great time together.">
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{ site.url }}/img/{% if page.og_image %}{{ page.og_image }}{% else %}goaf_fb_cover.jpg{% endif %}"/>
</head>
