<nav class="navbar navbar-default navbar-static-top" role="navigation" >
  <div class="container">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}/" class="navbar-brand">
        <img src="/img/goaf_logo.png" alt="Logo Geeks on a Farm" />
        <span class="text">
          Geeks
          <br/>
          <span class="smaller">on a Farm</span>
        </span>
      </a>
    </div>
    <div class="">
      <ul class="nav nav-pills navbar-nav navbar-right nav-list">
        <li{% if page.body_class == 'home' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/#agenda">Agenda</a></li>
        <li{% if page.body_class == 'speakers' %} class="active"{% endif %}><a href="{{ site.baseurl }}/speakers.html">Speakers</a></li>
        <li{% if page.body_class == 'venue' %} class="active"{% endif %}><a href="{{ site.baseurl }}/venue.html">Venue</a></li>
        <li{% if page.body_class == 'blog' %} class="active"{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li{% if page.body_class == 'about' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
      <p class="visible-xs text-center" style="margin-top:10px;">{% include calltoaction.html %}</p>
    </div><!--/.nav-collapse -->
  </div>
  <div class="container">
    <div class="row date">
      <div class="col-xs-12">
        28-29-30 <span class="lighter">May 2015</span>
      </div>
    </div>
    <div class="row venue">
      <div class="col-xs-12">
        Schloss Ortenberg
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p style="margin-top:20px;" class="hidden-xs">
          {% include calltoaction.html %}
        </p>
      </div>
    </div>
  </div>
</nav>
