<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.body_class }}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1418343218413412";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% include navbar.html %}
    {{ content }}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            {% include calltoaction.html %}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
